/* CSS para index e fav */

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

.topo{
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(240, 248, 255, 0.495);
}

.logo{
    position: absolute;
    top: 10px;
    right: 10px;
}

.fav{
    position: absolute;
    top: 50%;
    right: 0.5%;
    padding: 5px;
    padding-bottom: 2px;
}

.fav:hover{
    background-color: rgba(255, 77, 0, 0.783);
}

.body1{
    background-image: url(../img/pingu.jpg);
}

.box1{
    position: absolute;
    padding: 3px;
    padding-bottom: 0px;
    top: 95px;
    left: 50px;
    font-weight: bolder;
}

.box1:hover{
    background-color: rgb(255, 221, 0);
}

.box2{
    position: absolute;
    padding: 3px;
    padding-bottom: 0px;
    top: 250px;
    left: 50px;
    font-weight: bolder;
}

.box2:hover{
    background-color: rgb(4, 0, 255);
}

.box3{
    position: absolute;
    padding: 3px;
    padding-bottom: 0px;
    top: 367px;
    left: 50px;
    font-weight: bolder;
}

.box3:hover{
    background-color: rgba(0, 255, 4, 0.783);
}

.box4{
    position: absolute;
    padding: 3px;
    padding-bottom: 0px;
    top: 573px;
    left: 50px;
    font-weight: bolder;
}

.box4:hover{
    background-color: rgba(0, 60, 255, 0.783);
}

.box5{
    position: absolute;
    left: 400px;
    top: 100px;
    padding: 3px;
    padding-bottom: 0px;
    font-weight: bolder;
}

.box5:hover{
    background-color: rgb(255, 0, 0);
}

.box6{
    position: absolute;
    left: 400px;
    top: 217px;
    padding: 3px;
    padding-bottom: 0px;
    font-weight: bolder;
}

.box6:hover{
    background-color: rgb(245, 219, 208);
}

.box7{
    position: absolute;
    left: 400px;
    top: 372px;
    padding: 3px;
    padding-bottom: 0px;
    font-weight: bolder;
}

.box7:hover{
    background-color: rgb(87, 3, 10);
}

.box8{
    position: absolute;
    left: 400px;
    top: 577px;
    padding: 3px;
    padding-bottom: 0px;
    font-weight: bolder;
}

.box8:hover{
    background-color: rgb(81, 255, 0);
}

.box9{
    position: absolute;
    left: 750px;
    top: 195px;
    padding: 3px;
    padding-bottom: 0px;
    font-weight: bolder;
}

.box9:hover{
    background-color: rgb(0, 225, 255);
}

.box10{
    position: absolute;
    left: 750px;
    top: 400px;
    padding: 3px;
    padding-bottom: 0px;
    font-weight: bolder;
}

.box10:hover{
    background-color: rgb(255, 0, 0);
}

