*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    border: 1px solid lightblue;
    width: 30%;
    margin: auto;
    padding: 10px;
}

fieldset{
    padding: 10px;
}

input{
    margin-bottom: 8px;
}
