@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* sempre colocar em cima quando importar, pegar da google por ter menos chance de sair do ar, agrupa as fontes no mesmo link */

body { /* fundo */
    height: 100vh; /* propriedade de altura da página*/
    background-color: skyblue;
    
}

h2{
    font-family: "Bitcount Grid Double Ink", system-ui; /* são separdas em famílias, coloca a fonte e a família que ela pertece, procura a familia mais próxima se não tiver aquela fonte */ /* tipos de fontes: https://fonts.google.com/ */
    font-size: em /* outra forma de usar, pelo tamanho do "pai" /* font-size: 100px; /* fonte padrão é 16px para paragráfo */
}

.fora{
    font-size: 1.5em; /* ele vai multiplicar pelo o que está no antes*/
}

.nova{
    font-family: "Lobster Two", sans-serif;
    font-size: 1.5em; /* ele vai multiplicar pelo tamanho do div */
}

span{
    color: red;
    font-weight: bold; /* definide a grossura da letra - 100 a 900, 900 é o máximo */

}

div{
    font-size: 22px; /* o padrão dentro */
    background-color: yellow;
    overflow-y: scroll; /* para limitar o tamanho e o restante do texto é para scroll (rolagem) */
    height: 250px; /* tamanho pequeno */
    background-image: url(../img/gato1.webp); /* linear-gradient(rgba(255,255,255,0.5)), (rgba(255,255,255,0.5)), adiciona uma camada por cima */
    background-repeat: no-repeat;
    /* background-position: 300px 150px; /*  left, rigth, center, pode usar porcentagem (50% 50%), com px também dá */
    background-attachment: local; /* fixed - fixo na págima, mesmo quando desce, scroll - padrão, local - faz ficar dentro do lugar */
    /* background-size: 200px; /* tamanho da imagem do background */

}